body {
    background-color: #2d3250;
    font-family: Raleway, sans;
  }
.logo {
    width: 100px;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }
  
  .navbar.collapse {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 2s ease-in-out;
  }
  .nav-item {
    display: inline-block;
    padding: 0 15px;
  }
  .search-bar {
    margin-top: 200px;
    justify-content: center;
  }
  .register {
    color: #fff;
    background-color: #424669;
    border: none;
  }
  .rupp{
    padding: 2rem;
    margin-right: 100px;
    border: rgb(242, 78, 19) solid 4px;
    border-radius: .7em;
    width: 600px;
    height: 650px;
    color:#fff;
  }

  .AboutRupp{
    display: flex;
    justify-content: flex-end;
  }
  h2{
    text-align: center;
  }
